.home-container{
    .no-items{
        color:red;
        margin:50px;
        position: absolute;
        animation: bounce 1s linear 0.5s 3 alternate forwards;
        animation: name duration timing-function delay iteration-count direction fill-mode;
    }

    .sticky{
        position: sticky;
        top:0;
        background-color: white;
    }
   
    h2{
        text-align: center;

        border-bottom: 2px solid black;
        margin:0 50px;
    }
}
@keyframes bounce {
    from{
       left: 0;
       transform: scale(1);

    }
    to{
        transform: scale(1.5);
    }
}